@use '../../mixins/' as *;

.hero {
  padding: 87px 0 160px;

  @include mini-desktop {
    padding: 77px 0 121px;
  }

  @include mobile {
    min-height: calc(100dvh - 109px);
  }

  &__container {
    @include flex-justify-between;

    flex-direction: column;

    @include mini-desktop {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &-decor {
    &::before {
      top: 0;
      left: 0;
    }

    &::after {
     bottom: 550px;
    }
  }

  &__top {
    @include mini-desktop {
      max-width: 617px;
    }
  }

  &__title {
    max-width: 970px;
    margin-bottom: 114px;
    font-size: 72px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mini-desktop {
      margin-bottom: 74px;
    }

    @include tablet {
      margin-bottom: 44px;
      font-size: 60px;
    }

    @include mobile {
      margin-bottom: 38px;
      font-size: 48px;
    }

    @include small-mobile {
      margin-bottom: 30px;
      font-size: 38px;
    }
  }

  &__subtitle {
    &::before {
      content: '';
      transform: translateY(20px);
      align-self: flex-start;
    }

    & br {
      @include mini-desktop {
        display: none;
      }
    }
  }

  &__center {
    margin-bottom: 135px;

    @include tablet {
      margin-bottom: 77px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    width: 100%;
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
}

.nav {
  &__list {
    &-articals {
      @include flex-align-center;

      gap: 32px;

      @include small-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }

      @include mobile {
        gap: 10px;
      }
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    color: var(--neutral-color-150);
    line-height: 162%;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      height: 1px;
      background-color: var(--neutral-color-100);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition),
        visibility var(--transition);
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    &.active {
      color: var(--neutral-color-140);

      &::after {
        background-color: var(--neutral-color-140);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.blog {
  &__slider {
    position: relative;

    &.swiper-initialized {
      margin-right: calc(-50vw + 50%);

      @include mini-desktop {
        margin-right: 0;
        overflow: hidden;
      }
    }

    &-btns {
      @include flex-all-center;

      position: absolute;
      top: 95px;
      left: 528px;
      z-index: var(--z-index-2);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #fff;
      transform: translateX(-50%);

      @include tablet {
        display: none;
      }

      @include mobile {
        left: 100%;
        display: flex;
      }

      @include small-mobile {
        width: 70px;
        height: 70px;
      }
    }
  }

  &__article {
    max-width: 515px;

    @include small-tablet {
      max-width: 355px;
    }

    &-img {
      max-height: 428px;
      margin-bottom: 24px;

      @include small-tablet {
        max-height: 295px;
      }
    }

    &-head {
      @include flex-column;

      align-items: flex-start;
      font-weight: 400;
      color: var(--neutral-color-150);
      line-height: 150%;
      text-align: left;
    }

    &-date {
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--neutral-color-100);

      @include small-tablet {
        min-height: 84px;
      }

      @include small-mobile {
        min-height: 0;
      }
    }

    &-desc {
      max-width: 332px;
      font-weight: 500;
      color: var(--neutral-color-150);
      line-height: 178%;
    }
  }
}
