html {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  background-color: var(--neutral-color-10);
  color: var(--neutral-color-100);
  overflow-x: hidden;

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}
