<section class="hero hero-decor">
  <div class="container hero__container">
    <div class="hero__top">
      <h2 class="hero__title">Activity & Updates</h2>
    </div>
    <div class="hero__center">
      <p class="hero__subtitle text-p-subtitle">
        Our biggest challenge is making sure we're <br />always designing and
        building products that <br />
        will help you run your business better.
      </p>
    </div>
    <div class="hero__bottom">
      <nav class="nav hero__artical-nav">
        <ul class="nav__list-articals">
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default active">View all</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default">Design</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default">Articles</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default">Product</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default"
              >Software Development</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link text-p-default">Customer Success</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="swiper blog__slider">
      <div class="blog__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/blond-woman.jpg"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="blog__article-desc text-p-medium">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/two-woman-at-laptop.png"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="blog__article-desc text-p-medium">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
        </div>
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/get-started-img.jpg"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="blog__article-desc text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/get-started-img.jpg"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="blog__article-desc text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/get-started-img.jpg"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="blog__article-desc text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
        <div class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/images/get-started-img.jpg"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="blog__article-head text-p-medium">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <h3 class="blog__article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="blog__article-desc text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
