<section class="top-artical">
  <div class="container top-artical__container">
    <div class="top-artical__grid">
      <div class="top-artical__card card1">
        <img
          class="top-artical__card-img"
          loading="lazy"
          src="./assets/images/top-articl-1.png"
          width="584"
          height="751"
          alt="Woman typing on laptop and wrting on a notebook"
        />
        <div class="top-artical__card-head">
          <a
            href="/coca/article.html"
            class="top-artical__card-title heading-h3"
          >
            How we perform long-running tasks using AWS services
          </a>
          <p class="top-artical__card-desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>

      <div class="top-artical__card card2">
        <img
          class="top-artical__card-img"
          loading="lazy"
          src="./assets/images/top-articl-2.png"
          width="515"
          height="428"
          alt="Woman typing on laptop and wrting on a notebook"
        />
        <div class="top-artical__card-head">
          <a
            href="/coca/article.html"
            class="top-artical__card-title heading-h3"
          >
            How we perform long-running tasks using AWS services
          </a>
          <p class="top-artical__card-desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>

      <div class="top-artical__card card3">
        <img
          class="top-artical__card-img"
          loading="lazy"
          src="./assets/images/top-articl-2.png"
          width="515"
          height="428"
          alt="Woman typing on laptop and wrting on a notebook"
        />
        <div class="top-artical__card-head">
          <a
            href="/coca/article.html"
            class="top-artical__card-title heading-h3"
          >
            How we perform long-running tasks using AWS services
          </a>
          <p class="top-artical__card-desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>

      <div class="top-artical__card card4">
        <img
          class="top-artical__card-img"
          loading="lazy"
          src="./assets/images/top-articl-1.png"
          width="584"
          height="751"
          alt="Woman typing on laptop and wrting on a notebook"
        />
        <div class="top-artical__card-head">
          <a
            href="/coca/article.html"
            class="top-artical__card-title heading-h3"
          >
            How we perform long-running tasks using AWS services
          </a>
          <p class="top-artical__card-desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
