@use '../../mixins/' as *;

.team {
  padding: 0 0 160px;

  @include small-mobile {
    padding-bottom: 121px;
  }

  &__container {
    @include flex-justify-between;
    flex-direction: column;

    @include mini-desktop {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__info {
    @include flex-justify-between;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;

    @include tablet {
      gap: 20px;
    }

    @include small-mobile {
      margin-bottom: 30px;
    }
  }

  &__title {
    max-width: 675px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    max-width: 534px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 700px;
    }

    &-join {
      @include flex-justify-between;
      flex-direction: column;
      max-width: 506px;
      gap: 24px;
    }

    &-link {
      color: var(--neutral-color-100);
      font-weight: 600;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 80px;
    }

    @include small-mobile {
      margin-bottom: 30px;
    }

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 167px;
      left: 397px;
      z-index: var(--z-index-2);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #fff;
      transform: translateX(-50%);

      @include mini-desktop {
        top: 116px;
        left: 329px;
      }

      @include tablet {
        display: none;
      }

      @include small-mobile {
        left: 100%;
        display: flex;
        width: 80px;
        height: 80px;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__article {
    max-width: 379px;

    @include mini-desktop {
      max-width: 311px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-100);

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
    }

    &-author {
      font-style: normal;

      &-social {
        &-list {
          @include flex-align-center;
          gap: 8px;
        }

        &-link {
          transition: opacity var(--transition);

          &:hover {
            opacity: 0.8;
          }
        }
      }
      &-job {
        font-weight: 500;
        line-height: 150%;
        color: var(--neutral-color-150);
      }
    }
  }

  &__join {
    @include flex-justify-between;
    gap: 24px;

    @include mini-desktop {
      flex-direction: column;
    }
  }
}
