@use './mixins';
@use './base';
@use './globals';

// components
@use './components/header';
@use '../scss/components/about/hero';
@use '../scss/components/about/ideas';
@use '../scss/components/about/team';
@use './components/footer';
