@use './mixins';
@use './base';
@use './globals';

// components
@use './components/header';
@use '../scss/components/blog/hero';
@use '../scss/components/blog/top-artical';
@use '../scss/components/blog/articles.scss';
@use './components/footer';
