@use './mixins';
@use './base';
@use './globals';

// components
@use './components/header';
@use '../scss/components/contact/hero';
@use '../scss/components/contact/getStarted';
@use '../scss/components/partners';
@use './components/footer';
