@use './mixins' as *;
@use './base';
@use './globals';

// components
@use './components/header';
@use './components/home/hero';
@use './components/home/overview';
@use './components/home/features';
@use './components/home/strength';
@use './components/partners';
@use './components/home/insight';
@use './components/home/testimonials';
@use './components/footer';
